<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

	
        <title>编辑联系人</title>

        <link href="__PUBLIC__/assets/bootstrap/css/style.default.css" rel="stylesheet">
        <link href="__PUBLIC__/assets/bootstrap/css/select2.css" rel="stylesheet" />		
        <link href="__PUBLIC__/assets/bootstrap/css/jquery.dataTables.min.css" rel="stylesheet">
    </head>

    <body>
        <block name="header">
           <include file="block/header"/>
        </block>
        <section>
            <div class="mainwrapper">
			   <block name="left">
			   <include file="block/left" />
               </block>
                
                <div class="mainpanel">
                    <div class="contentpanel">
                       
                       	<div class="col-md-12">
                                <form id="basicForm" action="" method="post">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-btns">
                                            <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i class="fa fa-minus"></i></a>
                                            <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                                        </div><!-- panel-btns -->
                                        <h4 class="panel-title">编辑联系人</h4>
                                    </div><!-- panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">名称 <span class="asterisk">*</span></label>
                                                <div class="col-sm-6">
                                                    <input type="text" name="contactname" class="form-control" placeholder="用户名" value="{$rs.contactname}" required />
                                                    <input type="hidden" name="pid" class="form-control"  value="{$rs.pid}"  />
                                                </div>
                                            </div><!-- form-group -->
                                          
                                            
                                          
                                            <div class="form-group">
                                            <label class="col-sm-2 control-label">所属分组<span class="asterisk">*</span></label>
                                            <div class="col-sm-6">
                                                <select id="fruits" data-placeholder="Choose One" name="deptid" class="width100p" required> 
                                                    <foreach name="dept" item="list">
                                                        <option value="{$list.deptid}" <if condition="$list.deptid eq $rs.deptid "> selected</if> >{$list.deptname}</option>
                                                    </foreach>
                                                </select>
                                            </div>
                                        </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">本地号码1 <span class="asterisk">*</span></label>
                                                <div class="col-sm-6">
                                                    <input type="text" name="mobile" value="{$rs.mobile}" class="form-control" placeholder="本地电话1"  />
                                                </div>
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">本地号码2 <span class="asterisk">*</span></label>
                                                <div class="col-sm-6">
                                                    <input type="text" name="officenum" value="{$rs.officenum}" class="form-control" placeholder="本地电话2"  />
                                                </div>
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">本地号码3 <span class="asterisk">*</span></label>
                                                <div class="col-sm-6">
                                                    <input type="text" name="homenum" value="{$rs.homenum}" class="form-control" placeholder="本地电话3"  />
                                                </div>
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">本地号码4 <span class="asterisk">*</span></label>
                                                <div class="col-sm-6">
                                                    <input type="text" name="othernum" value="{$rs.othernum}" class="form-control" placeholder="本地电话4"  />
                                                </div>
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">同步通讯录号码(通过数据同步获取)</label>
                                                <div class="col-sm-6">
                                                    <input type="text" name="phones" value="{$rs.phones}" class="form-control"  disabled />
                                                </div>
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">备注信息<span class="asterisk">*</span></label>
                                                <div class="col-sm-6">
                                                    <textarea rows="5" name="remark" class="form-control" placeholder="备注信息">{$rs.remark}</textarea>
                                                </div>
                                            </div><!-- form-group -->
                                        </div><!-- row -->
                                        <div class="modal-footer col-sm-6">
									        <a href="/home/Account/phoneBook" class="btn btn-default" data-dismiss="modal">取消</a>
									        <button type="submit" class="btn btn-primary">保存</button>
									    </div>
                                    </div><!-- panel-body -->
                           
                                </div><!-- panel -->
                                </form>
                                
                            </div><!-- col-md-6 -->
                           
                            
					      
                        </div><!-- panel -->
                      
                        
                    </div><!-- contentpanel -->
                </div><!-- mainpanel --><!-- mainpanel -->
            </div><!-- mainwrapper -->
            
        
        </section>
		
        <script src="__PUBLIC__/assets/bootstrap/js/jquery-1.11.1.min.js"></script>
        <script src="__PUBLIC__/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/assets/bootstrap/js/custom.js"></script>
        <script src="__PUBLIC__/assets/bootstrap/js/select2.min.js"></script>


<script type="text/javascript">
$(document).ready( function () {
	// Validation with select boxes
    jQuery("#flowers, #fruits").select2({
        minimumResultsForSearch: -1
    });
})     
</script>        
		
		
    </body>
</html>
