<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

	
        <title>登录系统</title>

        <style type="text/css">
*{
    font: 13px/1.5 'å¾®è½¯é›…é»‘', Verdana, Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
    padding:0;
    margin:0;
    list-style:none;
    box-sizing: border-box;
}

body,html{
    height:100%;
    overflow:hidden;
}
body{
    background-color:#f0f1ef;
    background-size: cover;
}
</style>
    </head>

    <body>
        
        <section>
				<form id="basicForm" action="upload_translate" method="post" enctype="multipart/form-data">
                    <div>
                        <input type="file" name="fyfile">
                        <input type="submit" name="tijiao" value="提交">
                    </div>    

                </form>
			   
                
        </section>
		
        <script src="__PUBLIC__/assets/bootstrap/js/jquery-1.11.1.min.js"></script>

	
 
    </body>
</html>
