<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

	
        <title>高级参数</title>

        <link href="__PUBLIC__/assets/bootstrap/css/style.default.css" rel="stylesheet">
        <link href="__PUBLIC__/assets/bootstrap/css/select2.css" rel="stylesheet" />		
        <link href="__PUBLIC__/assets/bootstrap/css/jquery.dataTables.min.css" rel="stylesheet">
    </head>
                <style type="text/css">
        .loadEffect{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    display:none;
 }
 .loadEffect span{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: lightgreen;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
 }
 @-webkit-keyframes load{
    0%{
       opacity: 1;
    }
    100%{
       opacity: 0.2;
    }
 }
 .loadEffect span:nth-child(1){
    left: 0;
    top: 50%;
    margin-top:-8px;
    -webkit-animation-delay:0.13s;
 }
 .loadEffect span:nth-child(2){
    left: 14px;
    top: 14px;
    -webkit-animation-delay:0.26s;
 }
 .loadEffect span:nth-child(3){
    left: 50%;
    top: 0;
    margin-left: -8px;
    -webkit-animation-delay:0.39s;
 }
 .loadEffect span:nth-child(4){
    top: 14px;
    right:14px;
    -webkit-animation-delay:0.52s;
 }
 .loadEffect span:nth-child(5){
    right: 0;
    top: 50%;
    margin-top:-8px;
    -webkit-animation-delay:0.65s;
 }
 .loadEffect span:nth-child(6){
    right: 14px;
    bottom:14px;
    -webkit-animation-delay:0.78s;
 }
 .loadEffect span:nth-child(7){
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    -webkit-animation-delay:0.91s;
 }
 .loadEffect span:nth-child(8){
    bottom: 14px;
    left: 14px;
    -webkit-animation-delay:1.04s;
 }
</style>
    <body>
        <block name="header">
           <include file="block/header"/>
        </block>
        <section>
            <div class="mainwrapper">
			   <block name="left">
			   <include file="block/left" />
               </block>
                
                <div class="mainpanel">
                    <div class="contentpanel">
                     <form name="form1" action="paramsChannel/channelid/{$channelid}" method="post">
                        <div class="panel panel-title-head">
                        <div class="search_banner">
                             <div class="pull-left col-md-1">
	                                <a class="btn btn-info btn-large" href="/home/System/channelParameter">普通参数</a>
	                          </div> 
	                          <div class="pull-left col-md-1">
	                                <a class="btn btn-info btn-large active" href="/home/System/paramsChannel">高级参数</a>
	                          </div>
                             <div class="pull-left col-md-1">
	                                <span class="btn btn-info btn-large downloadPeizhi">导出配置</span>
	                          </div> 
	                          <div class="pull-left col-md-1">
	                                <a class="btn btn-info btn-large" href="{:U('home/System/backupUpload/type/channel')}">恢复配置</a>
	                          </div>
	                          <div style="clear:both"></div>
                         </div>
                         <div  style="background-color: #f7f7f7; display:block;line-height: 30px;margin-top: 5px;  margin-bottom: 5px;">
                            <label for="inputPassword" class="col-md-1 control-label">请选择通道</label>
                           <div class="col-md-1">
                                <select name="channelid" id="channelid" onchange="MM_jumpMenu(this)">
                                    <option value="paramsChannel/channelid/9999">全部</option>
                                    <foreach name="channelist" item="rsList">
                                        <?php if(trim($channelid) == trim($rsList['n_channelno'])){?>
                                           <option value="/home/System/paramsChannel/channelid/{$rsList.n_channelno}" selected="selected">
                                        <?php }else{ ?>
                                           <option value="/home/System/paramsChannel/channelid/{$rsList.n_channelno}" >
                                        <?php }?>
                                        {$rsList.n_channelno}
                                        </option>
                                    </foreach>
                                </select>
                            </div>
                            <label  class="col-md-3 control-label">（如果选择全部，则操作对所有通道起作用）</label>
                            
                        </div>   
                            <table id="basicTable" class="table table-striped table-bordered responsive">
                                <thead class="">
                                    <tr>
                                        <th>动作名称</th>
                                        <th>配置参数</th>
                                        <th>相关描述</th>
                                    </tr>
                                </thead>
                         
                                <tbody>
                                  <foreach name="rs" item="list">
	                                  <tr role="row">
	                                     <td>{$list.v_paramsnamech}</td>
	                                     <td>{$list.paramsset}
                                            <input type="hidden" name="hid{$list.v_paramsname}" value="{$list.v_value}" />
                                         </td>
	                                     <td>{$list.v_describe}</td>
	                                  </tr>
                                  </foreach>
                                </tbody>
                            </table>
                        </div><!-- panel -->
                        <div class="col-md-3">
                                <input type="hidden" value="{$strParaName}" name="paraList" />
                                <input type="hidden" value="" name="todo" id="todo" />
	                            <input class="btn btn-info btn-large" type="button" value="提交修改" onclick="formSub('update')">
	                            <input class="btn btn-info btn-large" type="button" value="恢复默认值" onclick="formSub('default')">
	                    </div> 
	                   </form>
                            
                        </div><!-- panel -->
                      
                        
                    </div><!-- contentpanel -->
                </div><!-- mainpanel --><!-- mainpanel -->
            </div><!-- mainwrapper -->
            
                         <!-- 告警模态框 -->
        <div class="modal fade" id="alertModel" tabindex="-1" role="dialog" aria-labelledby="myAlert">
          <div class="modal-dialog" role="document" style="width:450px">
            <div class="modal-content" >
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myAlert" style="text-align: center;">提示</h4>
              </div>
              <div class="modal-body">
                <div class="inner">
                    <h4 class="Alertmessage"> </h4>
                </div>
                <div class="loadEffect">
                     <span></span>
                     <span></span>
                     <span></span>
                     <span></span>
                     <span></span>
                     <span></span>
                     <span></span>
                     <span></span>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary sureDel" data-dismiss="modal">确定</button>
              </div>
            </div>
          </div>
        </div>     
        </section>
		
        <script src="__PUBLIC__/assets/bootstrap/js/jquery-1.11.1.min.js"></script>
        <script src="__PUBLIC__/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/assets/bootstrap/js/custom.js"></script>
	
    <script type="text/javascript">
    function MM_jumpMenu(obj){ //v3.0
        var url = $(obj).val()
         window.location.href=  url
     // eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
     // if (restore) selObj.selectedIndex=0;
    }
    //提交表单
    function formSub(todo){
        var v1="";
        var v2="";
        if(document.forms[0].StartRecKey){
        //有码控启动字头参数，验证格式0~9、*#
            v1=document.forms[0].StartRecKey.value;
            if(v1!=""){
                if(!Vchar(v1)){
                    alert("输入错误：码控启动字头包含非法字符，合法字符包括:0123456789*#");
                    document.forms[0].StartRecKey.focus();
                    return false;
                }
            }
        }
        if(document.forms[0].StopRecKey){
        //有码控停止字头参数，验证格式0~9、*#
            v2=document.forms[0].StopRecKey.value;
            if(v2!=""){
                if(!Vchar(v2)){
                    alert("输入错误：码控停止字头包含非法字符，合法字符包括:0123456789*#");
                    document.forms[0].StopRecKey.focus();
                    return false;
                }
            }
        }
        if(v1!="" && v1==v2){
            alert("码控启动字头与码控停止字头不能相同，请重新设置");
            return false;
        }
        var v3="";
        var v4="";
        if(document.forms[0].NoSoundDtrmTime){
            v3=document.forms[0].NoSoundDtrmTime.value;
            if(v3!=""){
                if(!isNum(v3)){
                    alert("输入错误：声控静音判定时长只能输入数字！");
                    document.forms[0].NoSoundDtrmTime.focus();
                    return false;
                }
            }
        }
        
        if(document.forms[0].ChannelPort){
            v4=document.forms[0].ChannelPort.value;
            if(v4!=""){
                if(!isNum(v4)){
                    alert("输入错误：通道端口只能输入数字！");
                    document.forms[0].ChannelPort.focus();
                    return false;
                }
            }
        }
        $("#todo").val(todo);
        if(document.form1.paraList.value==""){  
        //当前所选通道无参数可设置
            alert("当前所选通道无参数可设置,请选择需要配置的通道");
            return false;   
        }
         
        document.forms[0].submit();
    }
    
    function Vchar(v){
        if(v!=""){
            var V_char="0123456789*#,";
            //有效字符串:0123456789*#,","为多个码控启动字头分隔符
            for(var i=0;i<v.length;i++){
                var temp=v.substr(i,1);
                if(V_char.indexOf(temp)<0){
                    return false;
                }
            }
        }
        return true;
    }
    
    function isNum(str){
        if(str=="")return true;
        //var re = new RegExp("[0-9]{1,15}","g");
        //var arr = str.match(re);
        str=str.toUpperCase();  
        //忽略大小写转换为大写再判断
        var compare=/^[0-9]+$/;

        if(!compare.test(str)){
            return false;
        }
        return true;
    
    }

//系统参数和通道参数有效值验证
function CheckVerify(obj){
/*   var V_Verify=obj.title;
   var v=obj.value.replace(/\ /g,"");
   if(V_Verify!=""){
      if(v==""){
         alert("参数值不允许为空");
         obj.focus();
         //obj.value=obj.defaultValue;
         return false;
      }
      if(V_Verify!=""){
         V_Verify=V_Verify.split(",");
         var len=V_Verify.length;
         for(var i=0; i<len;i++){
            if(v==V_Verify[i]){
               return true;
               break;
            }  
         }
      }
      alert("输入值无效，请在指定范围内设置参数值!\r\n\r\n有效值包括：\r\n"+V_Verify);
      obj.value=obj.defaultValue;
      obj.focus();
      return false;
   }*/
}

    $('.downloadPeizhi').click(function(){
        $('#alertModel').modal('show');
        $('.downloadName').css("display","none");
        var url="{:U('home/System/down_systemParameter')}"
        var Items
        $.ajax({
            type:"POST",
            url:url,
            data:{
                strID:Items
            },
            beforeSend:function(XMLHttpRequest){ 
                $('.loadEffect').css("display","block");
            }, 
            success: function(data){
                console.log(data)
                $('.loadEffect').css("display","none");
                $('.downloadName').css("display","block");
                $('.modal-title').html("操作完成");
                $('.Alertmessage').html("成功导出配置：<a href='"+data.data+"'>点击下载</a>")
            }
        })
    })

    </script>

    </body>
</html>
