<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

	
        <title>系统参数</title>

        <link href="__PUBLIC__/assets/bootstrap/css/style.default.css" rel="stylesheet">
        <link href="__PUBLIC__/assets/bootstrap/css/select2.css" rel="stylesheet" />		
        <link href="__PUBLIC__/assets/bootstrap/css/jquery.dataTables.min.css" rel="stylesheet">
                <style type="text/css">
        .loadEffect{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
	display:none;
 }
 .loadEffect span{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: lightgreen;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
 }
 @-webkit-keyframes load{
    0%{
       opacity: 1;
    }
    100%{
       opacity: 0.2;
    }
 }
 .loadEffect span:nth-child(1){
    left: 0;
    top: 50%;
    margin-top:-8px;
    -webkit-animation-delay:0.13s;
 }
 .loadEffect span:nth-child(2){
    left: 14px;
    top: 14px;
    -webkit-animation-delay:0.26s;
 }
 .loadEffect span:nth-child(3){
    left: 50%;
    top: 0;
    margin-left: -8px;
    -webkit-animation-delay:0.39s;
 }
 .loadEffect span:nth-child(4){
    top: 14px;
    right:14px;
    -webkit-animation-delay:0.52s;
 }
 .loadEffect span:nth-child(5){
    right: 0;
    top: 50%;
    margin-top:-8px;
    -webkit-animation-delay:0.65s;
 }
 .loadEffect span:nth-child(6){
    right: 14px;
    bottom:14px;
    -webkit-animation-delay:0.78s;
 }
 .loadEffect span:nth-child(7){
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    -webkit-animation-delay:0.91s;
 }
 .loadEffect span:nth-child(8){
    bottom: 14px;
    left: 14px;
    -webkit-animation-delay:1.04s;
 }
</style>
    </head>

    <body>
        <block name="header">
           <include file="block/header"/>
        </block>
        <section>
            <div class="mainwrapper">
			   <block name="left">
			   <include file="block/left" />
               </block>
                
                <div class="mainpanel">
                	<form action="" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="contentpanel">
                       
                        <div class="panel panel-title-head">
                        <div class="search_banner">
                             <div class="pull-left col-md-1">
	                                <span class="btn btn-info btn-large downloadPeizhi">导出配置</span>
	                          </div> 
	                          <div class="pull-left col-md-1"> 
	                                <a class="btn btn-info btn-large" href="{:U('home/System/backupUpload/type/system')}">恢复配置</a>
	                          </div>
	                          <div style="clear:both"></div>
                         </div>   
                            <table id="basicTable" class="table table-striped table-bordered responsive">
                                <thead class="">
                                    <tr>
                                        <th>参数名称</th>
                                        <th>参数取值</th>
                                        <th>参数描述</th>
                                    </tr>
                                </thead>
                         
                                <tbody>
                                  <foreach name="rs" item="list">
	                                  <tr role="row">
	                                     <td>{$list.v_paramsnamech}</td>
	                                     <td>{$list.paramsset}</td>
	                                     <td>{$list.v_describe}<input type='hidden' name="hid{$list.v_paramsname}" value="{$list.v_value}"></td>
	                                  </tr>
                                  </foreach>
                                </tbody>
                            </table>
                        </div><!-- panel -->
                        
                        <div class="col-md-3">
                        	<input type="hidden" name="strPname" value="<?php echo $strPname; ?>" />
                            <input type="hidden" name="todo" id="todo"  />
	                        <input class="btn btn-info btn-large" type="button" value="提交修改" onclick="formSub('update')">
	                        <input class="btn btn-info btn-large" type="button" value="恢复默认值"  onclick="formSub('setDefault')">
	                    </div>
                            
                           
                        </div><!-- panel -->
                      </form>
                        
                    </div><!-- contentpanel -->
                </div><!-- mainpanel --><!-- mainpanel -->
            </div><!-- mainwrapper -->
            
            
        </section>
		         <!-- 告警模态框 -->
		<div class="modal fade" id="alertModel" tabindex="-1" role="dialog" aria-labelledby="myAlert">
		  <div class="modal-dialog" role="document" style="width:450px">
		    <div class="modal-content" >
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myAlert" style="text-align: center;">提示</h4>
		      </div>
		      <div class="modal-body">
		        <div class="inner">
		        	<h4 class="Alertmessage"> </h4>
		        </div>
		        <div class="loadEffect">
				     <span></span>
				     <span></span>
				     <span></span>
				     <span></span>
				     <span></span>
				     <span></span>
				     <span></span>
				     <span></span>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		        <button type="button" class="btn btn-primary sureDel" data-dismiss="modal">确定</button>
		      </div>
		    </div>
		  </div>
		</div> 


		<div class="modal fade" id="pathMod" tabindex="-1" role="dialog" >
		  <div class="modal-dialog" role="document" id="selectcontent">

		  </div>
		</div>
        <script src="__PUBLIC__/assets/bootstrap/js/jquery-1.11.1.min.js"></script>
        <script src="__PUBLIC__/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/assets/bootstrap/js/custom.js"></script>
    </body>
    <script>
	function formSub(todo){
		$("#todo").val(todo);
		if(todo=="setDefault"){
			if(!confirm("确定将所有参数恢复默认值？")){
				return false;	
			}
		}else{
			var c;
			if(document.forms[0].Sys_AutoBakDir){
			//有录音自动备份路径时，禁止使用中文路径
				c=document.forms[0].Sys_AutoBakDir;
				if(/.*[\u4e00-\u9fa5]+.*$/.test(c.value)){    
					alert("发生错误！\r\n系统不支持包含中文的录音路径！");
					c.select();
					return false;    
				} 
			}
			//跨局代答码验证:
			if(document.forms[0].ExchangeNumber){
				c=document.forms[0].ExchangeNumber;
				var v=c.value;
				if(v!=""){
					var V_char="0123456789*#";
					for(var i=0;i<v.length;i++){
						var temp=v.substr(i,1);
						if(V_char.indexOf(temp)<0){
							alert("输入错误：代答码包含非法字符，仅允许使用:"+V_char);
							c.focus();
							return false;
						}
					}
				}
			}
			if(!confirm("确定修改系统参数？")){
				return false;	
			}
		}
		document.forms[0].submit();
	}

	//数据有效性检测
	function check(obj,pn){
		var pv=obj.value.replace(/\ /g,"");
		if(pv==""){
			alert("参数值禁止为空!");
			obj.focus();
			return false;
		}
		var rv=getRegEx(pn);			//获取参数预定正则表达式，用于验证用户输入是否非法
		//alert(rv);
		if(rv.reg==""){return true;}	//未定验证规则，不做验证
		re = new RegExp(rv.reg);
		//alert(re);
		var tmp=pv.match(re);
		if(tmp==null){
			alert(rv.msg);
			obj.focus();
			return false;
		}else{
			tmp=tmp.toString().split(",")[0];
			if(tmp==pv){
				return true;
			}else{
				alert(rv.msg);
				obj.focus();
				return false;	
			}	
		}
	}

	
	function SetPath(o,showFile,disk){
/*		var p=$(o).val();
		//获得窗口的垂直位置 
	    var iTop = (window.screen.availHeight - 30 - 380) / 2; 
	    //获得窗口的水平位置 
	    var iLeft = (window.screen.availWidth - 10 - 450) / 2; 
	    
	    var url="selectPath?tamp="+Math.random()+"&t="+showFile+"&p="+p+"&disk="+disk;
		 
        //直接点击某条录音的小喇叭，只播放当前录音
		window.open(url,"player","height=450,width=550, top="+ iTop + ",left="+ iLeft + ", toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no");*/
		var url="selectPath";
		var currentdisk = $(o).val();
        $.ajax({
		type:"POST",
		dataType:"html",
		url:url,
		data:{
			disk:disk,currentdisk:currentdisk,t:0 
		},
		 
		success: function(data){
		  $('#selectcontent').html("");
		  $('#selectcontent').html(data);
		  $('#pathMod').modal('show');
		}
	})
	}


	//点击文件夹时，进入文件夹
function to(url,file){
	if(file.substr(file.length-1,1)!="\\"){
		file=file+"\\"	;
	}
	loadFileList(url,file);
}

function up(){
	var file=$("#path").val();
	var tmp=file.substr(0,file.length-1).lastIndexOf("\\");
	if(tmp<0){
		alert("已到最上层目录");
	}else{
		var tpath=file.substr(0,tmp+1);
		var url="t=<?php echo $showFile ?>&p="+tpath;
		loadFileList(url,tpath);	
	}	
}

function loadFileList(url,file){
	url="getFileList?"+url;
	$.ajax({
		type:"POST",
		url:url,
		data:{
			id:1 
		},	 
		success: function(data){
			$('.fileWrap').html("");
			$('.fileWrap').html(data);
			$("#hid_path").val(decodeURIComponent(file));
			$("#path").val(decodeURIComponent(file));
		}
	})
	 
}

function selectok(){
 
	var selectpath = $('#path').val()
	$("#Sys_AutoBakDir").val(selectpath)
	$('#pathMod').modal('hide');
}


		//设置参数对应的正则表达式，根据此规则进行数据验证
	function getRegEx(pn){
		var o = { reg:"", msg:""};
		switch(pn){
			case "Sys_AutoBakClock"	:
				o={
					reg : /(([01][0-9])|2[0-3]):([0-5][0-9])/,
					msg : "时间格式错误！请重新输入。"
				};break;
			case "Sys_AutoBakDir":			//数据库自动备份路径
			case "Sys_AutoBakDataPath":		//录音自动备份目录
				o={
					reg : /[c-zC-Z]\:(\\[^\/:*?"<>|]{1,})/,	//文件夹名称禁止出现的字符（\/:*?"<>|）
					msg : "备份路径格式错误！文件夹名称禁止使用“/:*?\"<>|”等字符\r\n请重新输入。"
				};break;
			case "Sys_AutoBakPeriodSpace":	//字段备份周期，单位(天)
			case "Sys_DelShorterThan":		//字段删除，少于多少秒的录音
			case "Sys_License_Count":		//可用通道参数
			case "Sys_RecordFileStoreDays"://文件过期时间，0表示不过期。过期则删除
				o={
					reg : /\d{1,4}/,
					msg : "输入错误！请输入一个正整数。"
				};break;
			case "Sys_DivFileTime"://分割时间
				o={
					reg : /\d{1,4}/,
					msg : "输入错误！请输入一个正整数。"
				};break;
			case "Sys_IpCh_Count"://录音通道号
				o={
					//reg : /\d{1,4}/,
					reg : /^(0|\d{1,2}|1[0-2][0-8])$/,
					msg : "输入错误！请输入小于128的正整数。"
				};break;
			case "Sys_Vedio_Count"://录象通道号
				o={
					//reg : /\d{1,4}/,
					reg : /^(0|\d{1}|1[0-6])$/,
					msg : "输入错误！请输入小于16的正整数。"
				};break;	
			default:
				o={
					reg : "",
					msg : ""
				};
		}
		return o;
	}


	$('.downloadPeizhi').click(function(){
		$('#alertModel').modal('show');
		$('.downloadName').css("display","none");
		var url="{:U('home/System/down_systemParameter')}"
		var Items
		$.ajax({
			type:"POST",
			url:url,
			data:{
				strID:Items
			},
			beforeSend:function(XMLHttpRequest){ 
				$('.loadEffect').css("display","block");
			}, 
			success: function(data){
				console.log(data)
				$('.loadEffect').css("display","none");
				$('.downloadName').css("display","block");
				$('.modal-title').html("操作完成");
				$('.Alertmessage').html("成功导出配置：<a href='"+data.data+"'>点击下载</a>")
			}
		})
	})
	</script>
</html>
